.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: transparent !important;
    -webkit-tap-highlight-color: transparent !important;
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root {
    padding-top: 0 !important;
}

.custom-drawer-container {
    width: 400px !important;
    height: 100vh !important;
    justify-content: center !important;

}

@media (max-width: 991.98px) {
    .custom-drawer-container {
        max-width: 350px !important;
    }
}


.drawer-content {
    overflow-y: auto !important;
    max-height: calc(100vh - 64px) !important;
}



/* Responsive styles */
@media (max-width: 991.98px) {
    .notificationMain {
        display: none !important;
    }

    .suggestedFriendMain {
        display: none !important;
    }

    .messagesMiniWindow {
        display: none !important;
    }
}

@media screen and (min-width: 991.99px) and (max-width: 1024px) {
    .notificationMain {
        display: none !important;
    }

    .suggestedFriendMain {
        display: none !important;
    }
}