body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form .ant-form-item {
    margin-bottom: 15px;
}

.text-center {
    font-size: 20px;
}

.text-center a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 320px) {}

@media screen and (min-width: 321px) and (max-width: 480px) {}

@media screen and (min-width: 481px) and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}


input::placeholder {
    color: #8e8e8e !important;
}