/* Merger.css */
:root {
    --background-dark: #000000;
    --font-color-dark: #FFFFFF;
    --border-color-dark: #333333;
    --icon-color-dark: #CCCCCC;
    --input-color-dark: #444444;
    --box-shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.3);

    --background-light: #FFFFFF;
    --font-color-light: #000000;
    --border-color-light: #E0E0E0;
    --icon-color-light: #666666;
    --input-color-light: #F5F5F5;
    --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchOverlay {
    width: 50% !important;
    margin: auto !important;
}

@media (max-width: 991.99px) {
    .searchOverlay {
        width: 100% !important;
    }
}

.smooth-div {
    display: none;
    width: 300px;
    height: 400px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 10px);
    left: 10%;
    z-index: 9999;
    transform: translateX(-50%);
    transition: opacity 0.5s ease;
}

.smooth-div.open {
    display: block;
}


@media (max-width: 991.99px) {
    .smooth-div {
        display: none;
        width: 300px;
        height: 400px;
        overflow-y: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        padding: 20px;
    }
}